{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Verifique seu e-mail</title>
    <link rel="icon" type="image/x-icon" href="{% static '' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#2d4739] flex items-center justify-center min-h-screen px-4">
    <div class="bg-white/90 p-8 rounded-2xl shadow-md max-w-md w-full text-center">
        <div class="mb-4">
            <img src="" alt="Logo" class="h-10 mx-auto"> <!--Adicionar o caminho da logo no src-->
        </div>
        <h1 class="text-xl font-bold text-[#2d4739] mb-4">Verifique seu e-mail</h1>
        <p class="text-gray-700 text-sm">
            Você receberá um link para redefinir sua senha.
        </p>
        <a href="{% url 'core:login' %}" class="mt-6 inline-block text-[#2d4739] hover:underline text-sm">
            Voltar para o login
        </a>
    </div>
</body>
</html>
